{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <img class="img-fluid" src="assets/img/members/{{member.image}}" alt="Freddie color image">
    </div>
    <div class="col-sm-8">
      {{members.name}}
    </div>
  </div>
</article>
{% endblock %}
