.jumbotron.banner {
    background: url(../assets/img/queen-live-on-stage.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.jumbotron {
    margin-bottom: 30px;
}

.jumbotext {
    font-size: 7rem;
    font-family: 'Cinzel', 'serif';
}